#Page_Complete
{
	width: 650px;
	height: 842px;
	margin: auto;
}


#Liseret_gauche
{
	background: rgb(121, 191, 252);
	height: 842px;
	width: 170px;
}



#photo



#Contact



#A_Propos_de_moi



#Loisirs


