
/*Couleur fond */

html
{
	background-color: #adadad;
}



/*Taille et position page complete */

#page_Complete
{
	width: 800px;
	height: 940px;
	margin: auto;
	display: flex;
	border: 1px black solid;
}



/* Liseret gauche */

#liseret_gauche
{
	background: rgb(121, 191, 252);
	height: 940px;
	width: 200px;
}

#photo
{
	text-align: center;
	padding-top: 15px;
	height: 14%;
}

#contact
{
	height: 29%;
}

#contact h1
{
	text-align: center;
	background-color: rgb(74, 74, 74);
	color: white;
	text-transform: uppercase;
	font-size: 17px;
	font-weight: normal;
}

#contact p
{
	padding-left:20px;
	font-size: 13px;
	margin-bottom: 16px;
	margin-top: 22px;
}

#a_propos_de_moi
{
	height: 43%;
}

#a_propos_de_moi h2
{
	text-align: center;
	background-color: rgb(74, 74, 74);
	color: white;
	text-transform: uppercase;
	font-size: 17px;
	font-weight: normal;
}

#a_propos_de_moi p
{
	font-size: 14px;
	text-align: justify;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 8px;
}

#loisirs h3
{
	text-align: center;
	background-color: rgb(74, 74, 74);
	color: white;
	text-transform: uppercase;
	font-size: 17px;
	font-weight: normal;
}

#loisirs i
{
	margin-left: 20px;
}



/* Corps principal */

#contenu
{
	height: 940px;
	width: 600px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: white;
}



/* Header */

#titre
{
	text-transform: uppercase;
	font-size: 15px;
	margin-bottom: 44px;
}




/* Main 1ere Section */

#formation
{
	background-image: url('Images/separateur.png');
	background-repeat: repeat-x;
	background-position: bottom;
	display: flex;
	align-items: baseline;
	height: 45px;
}

.title
{
	text-transform: uppercase;
	font-size: 19px;
	margin-bottom: 0px;
	margin-left: 10px;
}


.h2
{
	font-size: 10px;
	text-transform: uppercase;
}

.paragraphe
{
	font-size: 14px;
}

#conteneur1 #para1
{
	margin-left: 50px;
}

#conteneur1
{
	display: flex;
	color: rgb(38, 38, 38);
	height: 105px;
}

#conteneur1 ul li
{
	width: 100px;
}

#conteneur1 ul
{
	padding-left: 15px;
}




#conteneur2
{
	display: flex;
	color: rgb(38, 38, 38);
	margin-bottom: 20px;
	height: 110px;
}

#conteneur2 ul li
{
	width: 100px;
}

#conteneur2 ul
{
	padding-left: 15px;
}

#conteneur2 #para2
{
	margin-left: 50px;
}




/* Main 2ieme Section */

#experience
{
	background-image: url('Images/separateur.png');
	background-repeat: repeat-x;
	background-position: bottom;
	display: flex;
	align-items: baseline;
	height: 45px;
}



#conteneur3
{
	display: flex;
	color: rgb(38, 38, 38);
	height: 120px;
}

#conteneur3 ul li
{
	width: 100px;
}

#conteneur3 ul
{
	padding-left: 15px;
}


#conteneur3 #para3
{
	margin-left: 50px;
}



#conteneur4
{
	display: flex;
	color: rgb(38, 38, 38);
	height: 110px;
}

#conteneur4 ul li
{
	width: 100px;
}

#conteneur4 ul
{
	padding-left: 15px;
}

#conteneur4 #para4
{
	margin-left: 50px;
}




#conteneur5
{
	display: flex;
	color: rgb(38, 38, 38);
	height: 110px;
}

#conteneur5 ul li
{
	width: 100px;
}

#conteneur5 ul
{
	padding-left: 15px;
}

#conteneur5 #para5
{
	margin-left: 50px;
}




/* Footer */

#recommandations
{
	background-image: url('Images/separateur.png');
	background-repeat: repeat-x;
	background-position: bottom;
	margin-top: 10px;
	display: flex;
	align-items: baseline;
	height: 45px;
}

#conteneur_reco
{
	display: flex;
	color: rgb(38, 38, 38);
	justify-content: space-between;
}

.h3
{
	margin-top: 10px;
	margin-bottom: 5px;
}


.footerp p
{
	margin-top: 10px;
	margin-bottom: 10px;
}




/* Responsive Design */

@media all and (max-width: 1024px)
{
	#page_Complete
	{
		width: auto;
		height: auto;
		border: none;
	}

	#liseret_gauche
	{
		display: none;
	}

	#contenu
	{
		margin: auto;
		height: auto;
		border: 1px black solid;
	}

	#conteneur1
	{
		flex-direction: column;
		padding-bottom: 70px;
	}

	#conteneur1 #para1
	{
		margin-left: 0px;
	}

	#conteneur2
	{
		flex-direction: column;
		padding-bottom: 70px;
	}

	#conteneur2 #para2
	{
		margin-left: 0px;
	}

	#conteneur3
	{
		flex-direction: column;
		padding-bottom: 70px;
	}

	#conteneur3 #para3
	{
		margin-left: 0px;
	}

	#conteneur4
	{
		flex-direction: column;
		padding-bottom: 70px;
	}

	#conteneur4 #para4
	{
		margin-left: 0px;
	}

	#conteneur5
	{
		flex-direction: column;
		padding-bottom: 70px;
	}

	#conteneur5 #para5
	{
		margin-left: 0px;
	}
}